<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Rosatom</title>
</head>
<body>
  <section class="main">
    <img src="icons/logo.png" alt="logo" class="main__logo">
    <h1 class="main__header">
      Привет тебе, неудачник!<br>Зачем ты пришел сюда работать?  
    </h1>
    <div class="main__progress-bar"></div>
    <div class="main__progress">43%</div>
  </section>
</body>
</html>