* {
    box-sizing: border-box;
}

.section_introduction {
    height: 1024px;
    background: linear-gradient(234.84deg, #061F54 0.61%, #3C86BE 99.12%);
    margin-bottom: 20px;
}

.introduction {
    padding-top: 224px;
}

.introduction_block {
    display: block;
    margin: 0 auto;
    width: 942px;
    height: 605px;
    background: #FFFFFF;
    border-radius: 20px;
}

.introduction_flex {
    display: flex;
    justify-content: space-around;
}

.logo {
    padding-top: 86px;

}

.introduction_title {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    padding-top: 109px;
    margin-bottom: 55px;

}


input[type="text"] {
    width: 100%;
    height: 48px;
    border: 2px solid #F2F2F2;;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 30px;
  }
  
  input[type="text"]:focus {
    border-color: #061F54;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type="text"] {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
    margin-bottom: 42px;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 15px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
  
  .inputWithIcon input[type="text"]:focus + i {
    color: #061F54;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #747474;;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: #061F54;
  }
  
.validator_button button {
    width: 339px;
    height: 48px;
    background: #54A5E6;
    border-radius: 30px;
    color: #FFFFFF;
    border-color: #54a5e6;
}

