* {
    box-sizing: border-box;
}

.section_introduction {
    height: 1024px;
    background: linear-gradient(234.84deg, #061F54 0.61%, #3C86BE 99.12%);
    margin-bottom: 20px;
}

.introduction {
    padding-top: 224px;
}
.introduction_block {
    display: block;
    margin: 0 auto;
    width: 942px;
    height: 605px;
    background: #FFFFFF;
    border-radius: 20px;
}

.introduction_flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 86px;
}
.introduction_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    padding-top: 109px;
    margin-bottom: 55px;
}


.validator_username input {
    width: 339px;
    height: 48px;
    background: url('../img/icons/user.png') no-repeat #F2F2F2;
    border-radius: 30px;
    text-align: center;
}

.validator_password input {
    width: 339px;
    height: 48px;
    background: url('../img/icons/lock.png')  no-repeat #F2F2F2;
    border-radius: 30px;
    text-align: center;
}

.validator_button button {
    width: 339px;
    height: 48px;
    background: #54A5E6;
    border-radius: 30px;
    color: #FFFFFF
}
