<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROSATOM</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts">
</head>

<body>
    <section class="section_introduction">
        <div class="introduction">
            <div class="introduction_block">
                <div class="introduction_flex">
                    <div class="introduction_logo">
                    </div>
                    <div class="introduction_validator_block">
                        <div class="introduction_title">Авторизация</div>

                        <div class="validator">
                            <div class="validator_username">
                                <input type="text" id="username" placeholder="Имя пользователя">
                            </div>
                            <div class="validator_password">
                                <input type="password" id="password" placeholder="Пароль">
                            </div>
                            <div class="validator_button">
                                <button>Войти</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>