<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo page for other paster</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Input styled -->
    <div class="inputWithIcon">
        <input type="text" placeholder="Your name">
        <i class="fa fa-truck fa-lg fa-fw" aria-hidden="true"></i>
    </div>
</body>
</html>