.ui-bar {
    width: 100%;
    height: 80px;
    background: #E48C08;
    font-weight: normal;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
