.ui-bar {
    width: 1196px;
    height: 80px;
    background: #E48C08;
    font-family: Roboto;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}