.ui-bar {
    width: 1196px;
    height: 80px;
    background: #E48C08;
    font-weight: normal;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 52px;
    margin: 20px 122px 52px 122px;

}