@import "assets/styles/reset.scss";
@import "assets/styles/font.scss";

body {
  font-family: 'Roboto', sans-serif;
}

#application {
  text-align: center;
}

#bag-image__wrapper img {
  height: 200px;
}
